/*
  Menu name : Bubble
  Author : geqr
  Website : www.ma-maison-intelligente.fr
  Tutorial : http://ma-maison-intelligente.fr/2020/03/ameliorer-son-design-jeedom-avec-un-menu-bubble/
	Origin : https://codepen.io/simgooder/pen/bVLjgM/
  Last Update : 20200424 - add movile version
 */

:root {
  --icon-color:white;
  --background-color-plus:#333333;
  --background-color-btn:#4e4e4e;
  --btn-size:2.5em;
}

.menu-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
  box-sizing: border-box;
}

.menu-toggle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--background-color-plus);
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 5;
  bottom: 0.5em;
  right: 0.5em;
  display: table;
  text-align: center;
}
.menu-toggle .fa, .menu-toggle .fas, .menu-toggle .fab  {
  color: var(--icon-color);
  font-size: 2em;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.menu-toggle.open .fa {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.btn-app {
  width: var(--btn-size);
  height: var(--btn-size);
  border-radius: 50%;
  border-color: #ffffff;
  position: absolute;
  background-color: var(--background-color-btn);
  text-align: center;
  font-size: 25px;
}

.btn-app a {
  color: var(--icon-color);
}

.btn-app .fa, .btn-app .fas, .btn-app .fab {
  line-height: 2.5em;
  color: var(--icon-color);
}

.open .btn-app {
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
}

.menu-round {
  position: absolute;
  bottom: 3px;
  right: 3px;
  z-index: 3;
}
.menu-round .btn-app {
  bottom: 0.3em;
  right: 0.3em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.menu-round.open .btn-app:nth-of-type(1) {
  right: 0.25em;
  bottom: 3.5em;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu-round.open .btn-app:nth-of-type(2) {
  right: 2.7em;
  bottom: 2.5em;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.menu-round.open .btn-app:nth-of-type(3) {
  right: 4em;
  bottom: 0.3em;
}

.menu-line {
  position: absolute;
  bottom: 3px;
  right: 0.25em;
  z-index: 2;
}
.menu-line .btn-app {
  bottom: 0.3em;
  right: 0.3em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.menu-line.open .btn-app:nth-of-type(1) {
  bottom: 3.45em;
}
.menu-line.open .btn-app:nth-of-type(1) {
  bottom: 6.45em;
}
.menu-line.open .btn-app:nth-of-type(2) {
  bottom: 9.45em;
}
.menu-line.open .btn-app:nth-of-type(3) {
  bottom: 12.45em;
}
.menu-line.open .btn-app:nth-of-type(4) {
  bottom: 15.45em;
}
.menu-line.open .btn-app:nth-of-type(5) {
  bottom: 18.45em;
}
.menu-line.open .btn-app:nth-of-type(6) {
  bottom: 21.45em;
}
.menu-line.open .btn-app:nth-of-type(7) {
  bottom: 24.45em;
}
.menu-line.open .btn-app:nth-of-type(8) {
  bottom: 27.45em;
}
